<div class="container-fluid py-3 border border-top-0 border-dark">
    <form [formGroup]="requestPoliciesFormGroup" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="policyType">Policy type:</label>
            <select #policyType class="form-control" id="policyType" formControlName="policyType">
                <option *ngFor="let policyType of policyTypes" value="{{ policyType }}">
                    {{ formatEnumForOutput(policyType) | titlecase}}
                </option>
            </select>
        </div>
        <div *ngIf="requestPoliciesFormGroup.get('policyType').value == 'LIFE'">
            <div class="row">
                <div class="col">
                    <label for="gender">Gender:</label>
                    <select class="form-control" id="gender" formControlName="gender">
                        <option *ngFor="let gender of genders">
                            {{ gender }}
                        </option>
                    </select>
                </div>

                <div class="col">
                    <label for="age">Age:</label>
                    <input class="form-control" id="age" formControlName="age" type="number" min="18" max="99">
                    <div *ngIf="age.invalid && (age.dirty || age.touched)" class="alert alert-danger" style="font-size: 12px;">
                        <div *ngIf="age.errors.required || age.errors.notOnlyWhitespace">
                            Age is required
                        </div>

                        <div *ngIf="age.errors.min">
                            Min age of 18
                        </div>
                        <div *ngIf="age.errors.max">
                            Max age of 99
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-check my-3">
                
                <input class="form-check-input" id="tobaccoUser" formControlName="tobaccoUser" type="checkbox">
                <label class="form-check-label" for="tobaccoUser">Tobacco user</label>
            </div>
            
                <div class="form-group">
                    <label for="incomeRange">Income range:</label>
                    <select class="form-control" id="incomeRange" formControlName="incomeRange">
                        <option *ngFor="let incomeRange of incomeRanges">
                            {{ formatEnumForOutput(incomeRange) }}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="occupationType">Occupation Type:</label>
                    <select class="form-control" id="occupationType" formControlName="occupationType">
                        <option *ngFor="let occupationType of occupationTypes">
                            {{ formatEnumForOutput(occupationType) }}
                        </option>
                    </select>
                </div>

            <div class="form-group">
                <label for="qualificationLevel">Qualification Level:</label>
                <select class="form-control" id="qualificationLevel" formControlName="qualificationLevel">
                    <option *ngFor="let qualificationLevel of qualificationLevels">
                        {{ formatEnumForOutput(qualificationLevel) }}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="coverValue">Cover value: {{ coverValue.value | currency:'INR':'symbol':'1.0-0'}}</label>
                <input #coverValue class="form-control" id="coverValue" formControlName="coverValue" type="range" min="50000" max="20000000" step="25000">
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="coverTillAge">Cover till age:</label>
                    <input class="form-control" id="coverTillAge" formControlName="coverTillAge" type="number" min="18" max="99">
                    <div *ngIf="coverTillAge.invalid && (coverTillAge.dirty || coverTillAge.touched)" class="alert alert-danger" style="font-size: 12px;">
                        <div *ngIf="coverTillAge.errors.required || coverTillAge.errors.notOnlyWhitespace">
                            Cover till age is required
                        </div>
                        <div *ngIf="coverTillAge.errors.min">
                            Min age of 18
                        </div>
                        <div *ngIf="coverTillAge.errors.max">
                            Max age of 99
                        </div>
                        <div *ngIf="coverTillAge.errors.lowValue">
                            Should be over current age
                        </div>
                    </div>
                </div>

                <div class="col">
                    <label for="paymentPeriod">Payment periods:</label>
                    <select class="form-control" id="paymentPeriod" formControlName="paymentPeriod">
                        <option *ngFor="let paymentPeriod of paymentPeriods">
                            {{ formatEnumForOutput(paymentPeriod) }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div *ngIf="currentPolicyType == 'DENTAL' || currentPolicyType == 'DENTAL_AND_VISION'">
            <div class="row mb-3">
                <div class="col">
                    <label for="gender">Gender:</label>
                    <select class="form-control" id="gender" formControlName="gender">
                        <option *ngFor="let gender of genders">
                            {{ gender }}
                        </option>
                    </select>
                </div>

                <div class="col">
                    <label for="age">Age:</label>
                    <input class="form-control" id="age" formControlName="age" type="number" min="18" max="99">
                    <div *ngIf="age.invalid && (age.dirty || age.touched)" class="alert alert-danger">
                        <div *ngIf="age.errors.required || age.errors.notOnlyWhitespace">
                            Age is required
                        </div>
                        <div *ngIf="age.errors.min">
                            Min age of 18
                        </div>
                        <div *ngIf="age.errors.max">
                            Max age of 99
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="zipCode">Zip code: {{ obtainedDistrict ? '('+obtainedDistrict+', '+obtainedState+')' : '' }}</label>
                <input class="form-control" id="zipCode" formControlName="zipCode" type="text">
                <div *ngIf="zipCode?.invalid && (zipCode?.dirty || zipCode?.touched)" class="alert alert-danger">
                    Invalid zip code
                </div>
            </div>

            <div class="form-group">
                <label for="numberCovered">Number of people covered:</label>
                <input class="form-control" id="numberCovered" formControlName="numberCovered" type="number" min="1" max="5">
                <div *ngIf="numberCovered?.invalid && (numberCovered?.dirty || numberCovered?.touched)" class="alert alert-danger">
                    <div *ngIf="numberCovered.errors.required || numberCovered.errors.notOnlyWhitespace">
                        Age is required
                    </div>
                    <div *ngIf="numberCovered.errors.min">
                        Min 1 person covered
                    </div>
                    <div *ngIf="numberCovered.errors.max">
                        Max 5 people covered
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="coverValue">Cover value:</label>
                <select class="form-control" id="coverValue" formControlName="coverValue">
                    <option *ngFor="let coverValue of coverValues" value="{{ CoverValueEnum[coverValue] }}">
                        {{ formatEnumForOutput(coverValue) }}
                    </option>
                </select>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="coverPeriod">Cover period:</label>
                    <input class="form-control" id="coverPeriod" formControlName="coverPeriod" type="number" min="1" max="10">
                    <div *ngIf="coverPeriod.invalid && (coverPeriod.dirty || coverPeriod.touched)" class="alert alert-danger"  style="font-size: 12px;">
                        <div *ngIf="coverPeriod.errors.required || coverPeriod.errors.notOnlyWhitespace">
                            Cover period is required
                        </div>

                        <div *ngIf="coverPeriod.errors.min">
                            Min cover period of 1 year
                        </div>
                        <div *ngIf="coverPeriod.errors.max">
                            Max cover period of 10 years
                        </div>
                    </div>
                </div>

                <div class="col">
                    <label for="paymentPeriod">Payment periods:</label>
                    <select class="form-control" id="paymentPeriod" formControlName="paymentPeriod">
                        <option *ngFor="let paymentPeriod of paymentPeriods">
                            {{ formatEnumForOutput(paymentPeriod) }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <button type="submit" [disabled]="this.requestPoliciesFormGroup.invalid" class="btn btn-primary form-control">Submit</button>
    </form>
</div>
