
<div *ngIf="policies?.length == 0">
    <div class="alert alert-info my-3">No policies found. Please revise the submitted parameters.</div>
    
    <!-- <div class="container my-3">
        <div class="row">
            <div class="container border rounded">
                <div class="row row-eq-height">
                    <div class="col-sm-3 p-0 border-right my-1 ">
                        <div class="text-center" >iProtect Smart<br><div class="font-weight-light" style="font-size:10px">ICICI Prudential <br><br> </div></div>
                    </div>
                    <div class="col-sm-3 p-0 border-right align-self-center">
                        <div class="text-center" >50.1 Lac<br><div class="font-weight-light" style="font-size:10px">Min Cover: 20 Lac</div></div>
                    </div>
                    <div class="col-sm-3 p-0">
                        <div class="my-1 text-center border-right" >60 yrs<br><div class="font-weight-light" style="font-size:10px">Max Limit: 99yrs</div></div>
                    </div>
                    <div class="col-sm-3 p-0">
                        <div class="my-1 text-center"><button class="btn btn-primary w-50">Rs. 650</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mx-4 px-2 py-1 w-100 rounded-bottom bg-light">
                <div class="font-weight-light w-50 d-inline-block" style="font-size:12px">Product feature</div>
                <div class="font-weight-light w-50 d-inline-block" style="font-size:12px">Product feature</div>
                <div class="font-weight-light w-50 d-inline-block" style="font-size:12px">Product feature</div>
                <div class="font-weight-light w-50 d-inline-block" style="font-size:12px">Product feature</div>
            </div>
        </div>
    </div>

    <div class="container my-3">
        <div class="row">
            <div class="container border rounded">
                <div class="row row-eq-height">
                    <div class="col-sm-3 p-0">
                        <div class="my-1 text-center border-right" >iProtect Smart<br><div class="font-weight-light" style="font-size:10px">ICICI Prudential</div></div>
                    </div>
                    <div class="col-sm-3 p-0">
                        <div class="my-1 text-center border-right" >50.1 Lac<br><div class="font-weight-light" style="font-size:10px">Min Cover: 20 Lac</div></div>
                    </div>
                    <div class="col-sm-3 p-0">
                        <div class="my-1 text-center border-right" >60 yrs<br><div class="font-weight-light" style="font-size:10px">Max Limit: 99yrs</div></div>
                    </div>
                    <div class="col-sm-3 p-0">
                        <div class="my-1 text-center"><button class="btn btn-primary w-50">Rs. 650</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mx-4 px-2 py-1 w-100 rounded-bottom bg-light">
                <div class="font-weight-light w-50 d-inline-block" style="font-size:12px">Product feature</div>
                <div class="font-weight-light w-50 d-inline-block" style="font-size:12px">Product feature</div>
                <div class="font-weight-light w-50 d-inline-block" style="font-size:12px">Product feature</div>
                <div class="font-weight-light w-50 d-inline-block" style="font-size:12px">Product feature</div>
            </div>
        </div>
    </div> -->
</div>

<div *ngIf="policies?.length > 0">
<div *ngIf="policyType=='LIFE'">
    <div class="container rounded bg-dark text-white my-3">
        <div class="row row-eq-height">
            <div class="col-sm-3 p-0 my-1 border-right">
                <div class="text-center" >Policy Name & Insurer</div>
            </div>
            <div class="col-sm-3 p-0 my-1 border-right">
                <div class="text-center" >Cover Value</div>
            </div>
            
            <div class="col-sm-3 p-0 my-1 border-right">
                <div class="text-center" >Cover Till Age</div>
            </div>
            <div class="col-sm-3 p-0 my-1">
                <div class="text-center">{{ requestPaymentPeriod | titlecase }} Cost</div>
            </div>
        </div>
    </div>
    <div *ngFor="let policy of policies">
        <div class="container my-3">
            <div class="row">
                <div class="container border rounded">
                    <div class="row row-eq-height">
                        <div class="col-sm-3 p-0 my-1 border-right">
                            <div class="text-center" >{{ policy.name }}<br><div class="font-weight-light" style="font-size:10px">{{ policy.insurer }}</div></div>
                        </div>
                        <div class="col-sm-3 p-0 my-1 border-right">
                            <div class="text-center" >{{ requestCover | currency:'INR':'symbol':'1.0-0' }}<br><div class="font-weight-light" style="font-size:10px">Min Cover: {{ policy.minCoverValue | currency:'INR':'symbol':'1.0-0' }}</div></div>
                        </div>
                        <div class="col-sm-3 p-0 my-1 border-right">
                            <div class="text-center" >{{ requestAge }} yrs<br><div class="font-weight-light" style="font-size:10px">Max Limit: {{ policy.maxCoverTillAge }}yrs</div></div>
                        </div>
                        <div class="col-sm-3 p-0 my-1">
                            <div class="text-center"><button class="btn btn-primary w-50" (click)="showPolicyDetails(policy.id)">{{ policy.cost | currency:'INR':'symbol':'1.0-0' }}</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="policy.additionalFeatures" class="row">
                <div class="mx-4 px-2 py-1 w-100 rounded-bottom bg-light">
                    <div *ngFor="let feature of policy.additionalFeatures" class="d-inline-block w-50 font-weight-light" style="font-size:12px">{{ feature }}</div>
                </div>
            </div>
        </div>

    </div>
</div>

<div *ngIf="policyType=='DENTAL'">
    <div class="container rounded bg-dark text-white my-3">
        <div class="row row-eq-height">
            <div class="col-sm-2 p-0 my-1 border-right">
                <div class="text-center" >Policy Name & Insurer</div>
            </div>
            <div class="col-sm-2 p-0 my-1 border-right">
                <div class="text-center" >Cover Value</div>
            </div>
            <div class="col-sm-2 p-0 my-1 border-right">
                <div class="text-center" >Cover Period</div>
            </div>
            <div class="col-sm-2 p-0 my-1 border-right">
                <div class="text-center" >Number Covered</div>
            </div>
            <div class="col-sm-2 p-0 my-1 border-right">
                <div class="text-center" >Deductible</div>
            </div>
            <div class="col-sm-2 p-0 my-1">
                <div class="text-center">{{ requestPaymentPeriod | titlecase }} Cost</div>
            </div>
        </div>
    </div>
    <div *ngFor="let policy of policies">
        <div class="container my-3">
            <div class="row">
                <div class="container border rounded">
                    <!-- obtained response from policies get request- [{"id":7,"insurer":"mdxt","name":"fantabulous dental policy",
                    "additionalFeatures":["some other feature"],"cost":2.718,"minCoverPeriod":1,"maxCoverPeriod":3,"minNumberCovered":1,"maxNumberCovered":4,
                    "deductible":10000}] policy-list.component.ts:34:20 -->
                    <div class="row row-eq-height">
                        <div class="col-sm-2 p-0 my-1 border-right">
                            <div class="text-center" >{{ policy.name }}<br><div class="font-weight-light" style="font-size:10px">{{ policy.insurer }}</div></div>
                        </div>
                        <div class="col-sm-2 p-0 my-1 border-right">
                            <div class="text-center" >{{ requestCover | currency:'INR':'symbol':'1.0-0' }}<br><div class="font-weight-light" style="font-size:10px">Min Cover: {{ policy.coverValues[0] | currency:'INR':'symbol':'1.0-0' }}</div></div>
                        </div>
                        <div class="col-sm-2 p-0 my-1 border-right">
                            <div class="text-center" >{{ requestAge }} yrs<br><div class="font-weight-light" style="font-size:10px">Max Limit: {{ policy.maxCoverPeriod }}yrs</div></div>
                        </div>
                        <div class="col-sm-2 p-0 my-1 border-right">
                            <div class="text-center" >{{ requestNumberCovered }}<br><div class="font-weight-light" style="font-size:10px">Max Limit: {{ policy.maxNumberCovered }}</div></div>
                        </div>
                        <div class="col-sm-2 p-0 my-1 border-right">
                            <div class="text-center" >{{ policy.deductible | currency:'INR':'symbol':'1.0-0' }}<br></div>
                        </div>
                        <div class="col-sm-2 p-0 my-1">
                            <div class="text-center"><button class="btn btn-primary w-50" (click)="showPolicyDetails(policy.id)">{{ policy.cost | currency:'INR':'symbol':'1.0-0' }}</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="policy.additionalFeatures" class="row">
                <div class="mx-4 px-2 py-1 w-100 rounded-bottom bg-light">
                    <!-- <div *ngFor="let feature of policy.additionalFeatures"> -->
                        <div *ngFor="let feature of policy.additionalFeatures" class="font-weight-light w-50 d-inline-block" style="font-size:12px">{{ feature }}</div>
                    <!-- </div> -->
                </div>
            </div>
        </div>

    </div>
</div>
</div>