<!-- <app-login></app-login> -->

<nav class="navbar navbar-expand-sm bg-dark">
        
    <!-- Links -->
    <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
    </li>
    </ul>

</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3" style="border: 1px solid black;">
            <!-- <p>left column</p> -->
            <app-request-policy></app-request-policy>
        </div>
        <div class="col-sm-9" style="border: 1px solid black;">
            <p>Main column</p>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
